{% extends "layout.html" %}
{% block body %}
<div id="whole-page">
    <div id="navbar">
        <a id="team-link" href="https://intranet.culture.gov.uk/task/dcms-analytical-community/">DCMS<br>Analytical<br>Community</a>
        <h1 id="title">KPI Dashboard</h1>
    </div>
    <div>
        <div class='wrapper'>
            {% for m in mymeta %}
    
            <div class='widget {{mymeta[m]['color-class']}}'>
                {% if mymeta[m]['type'] == 'simple' %}
                    <h2 class="widget-title">{{mymeta[m].get('title', 'no title')}}</h2>
                    <div class="chart simple">{{mymeta[m].get('value', 'no value')}}</div>
                    <div class="update-text">Last updated: {{mymeta[m].get('update-date', 'not available')}}</div>
                {% endif %}
    
            </div>
    
            {% endfor %}
    
        </div>
        
        
    </div>
</div>
{% endblock %}